<div class="main">
  <div class="layer">
    <div class="jumbotron text-center">
    <h1>About us</h1>
    <p>We are working on our One Month Rails Pinteresting app. More to add later!</p>
    </div>
  </div>
</div>